# Get the data

## Statcast data

In [16]:
import pandas as pd
import requests
import io

# pybaseball was breaking for some reason so I pulled this method out of the source code
def small_request(start_dt,end_dt):
    url = "https://baseballsavant.mlb.com/statcast_search/csv?all=true&hfPT=&hfAB=&hfBBT=&hfPR=&hfZ=&stadium=&hfBBL=&hfNewZones=&hfGT=R%7CPO%7CS%7C=&hfSea=&hfSit=&player_type=pitcher&hfOuts=&opponent=&pitcher_throws=&batter_stands=&hfSA=&game_date_gt={}&game_date_lt={}&team=&position=&hfRO=&home_road=&hfFlag=&metric_1=&hfInn=&min_pitches=0&min_results=0&group_by=name&sort_col=pitches&player_event_sort=h_launch_speed&sort_order=desc&min_abs=0&type=details&".format(start_dt, end_dt)
    s=requests.get(url, timeout=None).content
    data = pd.read_csv(io.StringIO(s.decode('utf-8')))#, error_bad_lines=False) # skips 'bad lines' breaking scrapes. still testing this.
    return data

date_range = pd.date_range('2018-03-29', pd.datetime.today()).strftime('%Y-%m-%d')
small_request(start_dt=date_range[0], end_dt=date_range[0])

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,CH,2018-03-29,83.5,-2.6238,5.0668,Noe Ramirez,543760,598287,single,hit_into_play_score,...,5,5,5,5,5,5,5,5,Strategic,Strategic
1,CH,2018-03-29,82.7,-2.6167,5.0671,Noe Ramirez,543760,598287,NaN,foul,...,5,5,5,5,5,5,5,5,Strategic,Strategic
2,CU,2018-03-29,77.2,-2.9329,4.8254,Noe Ramirez,543760,598287,NaN,foul,...,5,5,5,5,5,5,5,5,Strategic,Strategic
3,CU,2018-03-29,76.6,-2.8895,4.8506,Noe Ramirez,543760,598287,NaN,foul,...,5,5,5,5,5,5,5,5,Strategic,Strategic
4,CU,2018-03-29,77.8,-2.8185,4.8878,Noe Ramirez,543760,598287,NaN,ball,...,5,5,5,5,5,5,5,5,Strategic,Strategic
5,CU,2018-03-29,77.9,-2.8218,4.8757,Noe Ramirez,543760,598287,NaN,ball,...,5,5,5,5,5,5,5,5,Strategic,Strategic
6,CH,2018-03-29,84.1,-2.7118,4.9995,Noe Ramirez,621471,598287,triple,hit_into_play_no_out,...,5,5,5,5,5,5,5,5,Standard,Standard
7,SI,2018-03-29,89.3,-2.9245,4.8011,Noe Ramirez,621471,598287,NaN,foul,...,5,5,5,5,5,5,5,5,Standard,Standard
8,FC,2018-03-29,92.1,-2.6671,5.5153,Jacob Barnes,605486,606930,strikeout,swinging_strike,...,1,2,1,2,2,1,1,2,Infield shift,Standard
9,SI,2018-03-29,88.8,-2.7637,4.8414,Noe Ramirez,621471,598287,NaN,swinging_strike,...,5,5,5,5,5,5,5,5,Standard,Standard
10,FF,2018-03-29,97.1,-2.4701,5.6829,Jacob Barnes,605486,606930,NaN,called_strike,...,1,2,1,2,2,1,1,2,Infield shift,Standard
11,CH,2018-03-29,82.3,-2.7048,4.9981,Noe Ramirez,621471,598287,NaN,called_strike,...,5,5,5,5,5,5,5,5,Standard,Standard
12,FC,2018-03-29,91.3,-2.6962,5.5810,Jacob Barnes,605486,606930,NaN,ball,...,1,2,1,2,2,1,1,2,Infield shift,Standard
13,SI,2018-03-29,89.5,-2.7002,4.9818,Noe Ramirez,518960,598287,field_out,hit_into_play,...,5,5,5,5,5,5,5,5,Standard,Standard
14,FC,2018-03-29,90.2,-2.8730,5.5359,Jacob Barnes,605486,606930,NaN,ball,...,1,2,1,2,2,1,1,2,Infield shift,Standard
15,SI,2018-03-29,88.9,-2.8918,4.9112,Noe Ramirez,518960,598287,NaN,called_strike,...,5,5,5,5,5,5,5,5,Standard,Standard
16,FC,2018-03-29,91.4,-2.8404,5.6551,Jacob Barnes,605486,606930,NaN,called_strike,...,1,2,1,2,2,1,1,2,Infield shift,Standard
17,FF,2018-03-29,91.0,2.9490,5.9796,Aaron Bummer,519058,607481,field_out,hit_into_play,...,7,14,7,14,14,7,7,14,Infield shift,Standard
18,CU,2018-03-29,76.4,-2.7261,4.9150,Noe Ramirez,518960,598287,NaN,ball,...,5,5,5,5,5,5,5,5,Standard,Standard
19,FF,2018-03-29,97.8,-2.1312,5.8411,Jacob Barnes,595978,606930,strikeout,swinging_strike,...,1,2,1,2,2,1,1,2,Standard,Standard
20,FF,2018-03-29,92.1,3.1250,5.8971,Aaron Bummer,519058,607481,NaN,ball,...,7,14,7,14,14,7,7,14,Infield shift,Standard
21,FF,2018-03-29,95.4,-2.5284,5.7403,Juan Minaya,593160,573668,field_out,hit_into_play_score,...,6,14,6,14,14,6,6,14,Standard,Standard
22,CU,2018-03-29,76.6,-2.8531,4.9233,Noe Ramirez,518960,598287,NaN,ball,...,5,5,5,5,5,5,5,5,Standard,Standard
23,FF,2018-03-29,97.7,-2.0573,5.7425,Jacob Barnes,595978,606930,NaN,foul,...,1,2,1,2,2,1,1,2,Standard,Standard
24,SL,2018-03-29,88.0,-2.4879,5.6878,Juan Minaya,593160,573668,NaN,blocked_ball,...,6,14,6,14,14,6,6,14,Standard,Standard
25,SI,2018-03-29,89.5,-2.8811,5.0033,Noe Ramirez,518960,598287,NaN,called_strike,...,5,5,5,5,5,5,5,5,Standard,Standard
26,FF,2018-03-29,93.2,-2.3024,5.5949,Jacob Barnes,595978,606930,NaN,ball,...,1,2,1,2,2,1,1,2,Standard,Standard
27,FF,2018-03-29,94.7,-1.9863,6.3402,Chris Hatcher,545361,501822,strikeout,swinging_strike_blocked,...,5,5,5,5,5,5,5,5,Standard,Standard
28,CH,2018-03-29,89.6,-2.2962,5.2143,Juan Minaya,593160,573668,NaN,blocked_ball,...,6,14,6,14,14,6,6,14,Standard,Standard
29,FF,2018-03-29,97.0,-1.8997,5.8854,Jacob Barnes,595978,606930,NaN,foul,...,1,2,1,2,2,1,1,2,Standard,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,FF,2018-03-29,90.1,4.2295,5.4399,Clayton Richard,592885,453385,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
3966,SI,2018-03-29,99.4,-0.7655,6.5546,Noah Syndergaard,451594,592789,strikeout,swinging_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3967,FF,2018-03-29,92.9,1.7972,6.1739,J.A. Happ,458731,457918,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3968,FF,2018-03-29,91.6,-1.6267,6.1570,Dylan Bundy,408045,605164,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3969,FF,2018-03-29,91.9,2.2893,6.2875,Patrick Corbin,453568,571578,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3970,FF,2018-03-29,90.0,-2.1593,5.1220,Julio Teheran,514917,527054,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3971,FF,2018-03-29,91.3,1.4610,6.2443,Clayton Kershaw,457706,477132,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
3972,FT,2018-03-29,89.6,2.4212,5.6553,Clayton Richard,456715,453385,single,hit_into_play_no_out,...,0,0,0,0,0,0,0,0,Standard,Standard
3973,FF,2018-03-29,95.3,-1.8167,6.2436,Jose Urena,592178,570632,NaN,ball,...,0,1,1,0,1,0,1,0,Infield shift,Standard
3974,SL,2018-03-29,81.9,1.8662,5.6977,Danny Duffy,660162,518633,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
3975,SI,2018-03-29,99.1,-0.5178,6.5450,Noah Syndergaard,451594,592789,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
3976,FF,2018-03-29,88.2,2.5965,6.1191,Cole Hamels,543807,430935,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3977,SI,2018-03-29,90.6,-2.3796,6.0388,Felix Hernandez,596019,433587,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Standard,Standard
3978,SL,2018-03-29,90.4,1.7390,6.1271,J.A. Happ,458731,457918,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3979,FF,2018-03-29,93.9,-2.2895,6.4137,Chris Archer,643217,502042,NaN,called_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3980,NaN,2018-03-29,49.9,NaN,NaN,Dylan Bundy,572821,605164,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Infield shift,Standard
3981,SI,2018-03-29,94.0,-1.0757,5.8864,Kendall Graveman,446359,608665,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3982,FF,2018-03-29,89.9,-2.1275,5.1530,Julio Teheran,514917,527054,NaN,called_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3983,FF,2018-03-29,92.2,1.5791,6.2811,J.A. Happ,458731,457918,NaN,called_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3984,FF,2018-03-29,95.5,-1.5828,6.0486,Jose Urena,664023,570632,home_run,hit_into_play_score,...,0,0,0,0,0,0,0,0,Standard,Standard
3985,FF,2018-03-29,91.3,-1.4971,6.0370,Dylan Bundy,572821,605164,NaN,foul,...,0,0,0,0,0,0,0,0,Infield shift,Standard
3986,FF,2018-03-29,91.2,1.3504,6.2721,Clayton Kershaw,457706,477132,NaN,called_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3987,SI,2018-03-29,98.7,-0.6368,6.4662,Noah Syndergaard,451594,592789,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
3988,FF,2018-03-29,93.1,-2.2252,6.4152,Chris Archer,605141,502042,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Standard,Standard
3989,SI,2018-03-29,93.7,-1.0625,5.8843,Kendall Graveman,446359,608665,NaN,called_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3990,FF,2018-03-29,89.6,-2.6615,5.9584,Felix Hernandez,596019,433587,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3991,FT,2018-03-29,92.6,1.9296,5.7010,Danny Duffy,660162,518633,NaN,called_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
3992,FT,2018-03-29,88.5,2.5813,5.5835,Clayton Richard,456715,453385,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
3993,FF,2018-03-29,88.5,2.6433,6.2069,Cole Hamels,543807,430935,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
3994,FF,2018-03-29,91.8,2.2178,6.3667,Patrick Corbin,453568,571578,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard

In [21]:
from concurrent.futures import ThreadPoolExecutor, as_completed

date_range = pd.date_range('2018-03-29', pd.datetime.today()).strftime('%Y-%m-%d')
results = []
errors = []
with ThreadPoolExecutor() as executor:
    futures = {executor.submit(small_request, date, date): date for date in date_range}
    for future in as_completed(futures):
        try:
            results.append(future.result())
        except Exception as err:
            errors.append(err)
            print(f'could not get data for data {futures[future]}')

In [22]:
df = pd.concat(results)
df.shape

/Users/dgates/venvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(708746, 90)

In [23]:
df.to_csv(f'statcast-{pd.datetime.today().strftime("%Y-%m-%d")}.csv', index=False)

In [24]:
d = df.groupby([
    'game_date', 'home_team', 'away_team', 
], as_index=False)[['post_away_score', 'post_home_score']].max()

In [25]:
d[(d.home_team == 'PHI') & (d.away_team == 'SF')]

      game_date home_team away_team  post_away_score  post_home_score
486  2018-05-07       PHI        SF              0.0             11.0
499  2018-05-08       PHI        SF              2.0              4.0
514  2018-05-09       PHI        SF              3.0             11.0
526  2018-05-10       PHI        SF              3.0              6.0

In [26]:
d.shape

(2355, 5)

In [27]:
team_ids = {team: i for i, team in enumerate(d.home_team.unique())}
n_teams = len(team_ids)
team_ids

{'ARI': 0,
 'ATL': 1,
 'BAL': 2,
 'BOS': 21,
 'CHC': 29,
 'CIN': 13,
 'CLE': 27,
 'COL': 28,
 'CWS': 22,
 'DET': 14,
 'HOU': 15,
 'KC': 3,
 'LAA': 16,
 'LAD': 4,
 'MIA': 5,
 'MIL': 17,
 'MIN': 23,
 'NYM': 6,
 'NYY': 19,
 'OAK': 7,
 'PHI': 24,
 'PIT': 18,
 'SD': 8,
 'SEA': 9,
 'SF': 20,
 'STL': 25,
 'TB': 10,
 'TEX': 11,
 'TOR': 12,
 'WSH': 26}

In [28]:
import numpy as np
d['home_team_id'] = d.home_team.map(team_ids)
d['away_team_id'] = d.away_team.map(team_ids)
d['home_team_win'] = np.where(d.post_home_score > d.post_away_score, 1, 0)
d['away_team_win'] = np.where(d.post_home_score < d.post_away_score, 1, 0)

## Standings

In [29]:
import requests as rq
import pandas as pd
response = rq.get('https://projects.fivethirtyeight.com/2018-mlb-predictions/')
standings = pd.read_html(response.content)[0]

In [30]:
standings

,Unnamed: 0_level_0,Chance of making …,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0
,Team▲▼,Division▲▼,Team rating▲▼,1-week change▲▼,Div. SeriesMake Div. Series▲▼,League champ.Make league champ.▲▼,World SeriesMake W.S.▲▼,Win World SeriesWin W.S.▲▼
0,Red Sox108-54Red Sox,AL East,1600,15.0,✓,✓,✓,61%
1,Dodgers92-71Dodgers,NL West,1582,-1.0,✓,✓,✓,39%
2,Astros103-59Astros,AL West,1598,-16.0,✓,✓,—,—
3,Brewers96-67Brewers,NL Central,1561,1.0,✓,✓,—,—
4,Yankees100-62Yankees,AL East,1565,NaN,✓,—,—,—
5,Rockies91-72Rockies,NL West,1526,NaN,✓,—,—,—
6,Indians91-71Indians,AL Central,1545,NaN,✓,—,—,—
7,Braves90-72Braves,NL East,1515,NaN,✓,—,—,—
8,Athletics97-65Athletics,AL West,1562,NaN,—,—,—,—
9,Cubs95-68Cubs,NL Central,1543,NaN,—,—,—,—
10,Rays90-72Rays,AL East,1543,NaN,—,—,—,—
11,Mariners89-73Mariners,AL West,1513,NaN,—,—,—,—
12,Cardinals88-74Cardinals,NL Central,1535,NaN,—,—,—,—
13,Nationals82-80Nationals,NL East,1526,NaN,—,—,—,—
14,Pirates82-79Pirates,NL Central,1503,NaN,—,—,—,—
15,Diamondbacks82-80Dbacks,NL West,1510,NaN,—,—,—,—
16,Phillies80-82Phillies,NL East,1472,NaN,—,—,—,—
17,Angels80-82Angels,AL West,1505,NaN,—,—,—,—
18,Twins78-84Twins,AL Central,1493,NaN,—,—,—,—
19,Mets77-85Mets,NL East,1498,NaN,—,—,—,—
20,Blue Jays73-89Blue Jays,AL East,1470,NaN,—,—,—,—
21,Giants73-89Giants,NL West,1466,NaN,—,—,—,—
22,Reds67-95Reds,NL Central,1452,NaN,—,—,—,—
23,Rangers67-95Rangers,AL West,1470,NaN,—,—,—,—
24,Padres66-96Padres,NL West,1451,NaN,—,—,—,—
25,Tigers64-98Tigers,AL Central,1428,NaN,—,—,—,—
26,Marlins63-98Marlins,NL East,1430,NaN,—,—,—,—
27,White Sox62-100White Sox,AL Central,1434,NaN,—,—,—,—
28,Royals58-104Royals,AL Central,1438,NaN,—,—,—,—
29,Orioles47-115Orioles,AL East,1415,NaN,—,—,—,—

In [31]:
team_name_map = {
    'Diamondbacks': 'ARI',
    'Braves': 'ATL',
    'Orioles': 'BAL',
    'Red Sox': 'BOS',
    'Angels': 'LAA',
    'Cubs': 'CHC',
    'White Sox': 'CWS',
    'Reds': 'CIN',
    'Indians': 'CLE',
    'Rockies': 'COL',
    'Tigers': 'DET',
    'Astros': 'HOU',
    'Royals': 'KC',
    'Dodgers': 'LAD',
    'Marlins': 'MIA',
    'Brewers': 'MIL',
    'Twins': 'MIN',
    'Yankees': 'NYY',
    'Athletics': 'OAK',
    'Phillies': 'PHI',
    'Pirates': 'PIT',
    'Padres': 'SD',
    'Mariners': 'SEA',
    'Giants': 'SF',
    'Cardinals': 'STL',
    'Rays': 'TB',
    'Rangers': 'TEX',
    'Blue Jays': 'TOR',
    'Nationals': 'WSH',
    'Mets': 'NYM',
}

In [32]:
def sanitize_name(n):
    out = ''
    for a in n:
        if a.isdigit():
            break
        out += a
    return out
rankings = standings.iloc[:,0].apply(sanitize_name).map(team_name_map)

In [33]:
import numpy as np
rankings = pd.DataFrame({
    'team': rankings,
    'team_id': rankings.map(team_ids),
    'score': np.arange(len(rankings))[::-1]
})

In [34]:
rankings

   team  team_id  score
0   BOS       21     29
1   LAD        4     28
2   HOU       15     27
3   MIL       17     26
4   NYY       19     25
5   COL       28     24
6   CLE       27     23
7   ATL        1     22
8   OAK        7     21
9   CHC       29     20
10   TB       10     19
11  SEA        9     18
12  STL       25     17
13  WSH       26     16
14  PIT       18     15
15  ARI        0     14
16  PHI       24     13
17  LAA       16     12
18  MIN       23     11
19  NYM        6     10
20  TOR       12      9
21   SF       20      8
22  CIN       13      7
23  TEX       11      6
24   SD        8      5
25  DET       14      4
26  MIA        5      3
27  CWS       22      2
28   KC        3      1
29  BAL        2      0

In [35]:
assert not rankings.team.isnull().any()
assert not rankings.team_id.isnull().any()

In [36]:
# center at 10 - negative values restrict how we can model the problem
rankings['score'] = 10 + (rankings['score'] - np.mean(rankings['score'])) / np.std(rankings['score'])

In [37]:
rankings

   team  team_id      score
0   BOS       21  11.675247
1   LAD        4  11.559712
2   HOU       15  11.444178
3   MIL       17  11.328644
4   NYY       19  11.213110
5   COL       28  11.097575
6   CLE       27  10.982041
7   ATL        1  10.866507
8   OAK        7  10.750973
9   CHC       29  10.635438
10   TB       10  10.519904
11  SEA        9  10.404370
12  STL       25  10.288836
13  WSH       26  10.173301
14  PIT       18  10.057767
15  ARI        0   9.942233
16  PHI       24   9.826699
17  LAA       16   9.711164
18  MIN       23   9.595630
19  NYM        6   9.480096
20  TOR       12   9.364562
21   SF       20   9.249027
22  CIN       13   9.133493
23  TEX       11   9.017959
24   SD        8   8.902425
25  DET       14   8.786890
26  MIA        5   8.671356
27  CWS       22   8.555822
28   KC        3   8.440288
29  BAL        2   8.324753

In [38]:
rankings.to_csv(f'rankings-{pd.datetime.today().strftime("%Y-%m-%d")}.csv', index=False)

# divisions

In [39]:
division_map = {
    'AL Central': ['CWS', 'CLE', 'DET', 'KC', 'MIN'],
    'AL East': ['BAL', 'BOS', 'NYY', 'TB', 'TOR'],
    'AL West': ['HOU', 'LAA', 'OAK', 'SEA', 'TEX'],
    'NL Central': ['CHC', 'CIN', 'MIL', 'PIT', 'STL'],
    'NL East': ['ATL', 'MIA', 'NYM', 'PHI', 'WSH'],
    'NL West': ['ARI', 'COL', 'LAD', 'SD', 'SF'],
}
# division_map = {team: division for division, teams in division_map.items() for team in teams}
division_map

{'AL Central': ['CWS', 'CLE', 'DET', 'KC', 'MIN'],
 'AL East': ['BAL', 'BOS', 'NYY', 'TB', 'TOR'],
 'AL West': ['HOU', 'LAA', 'OAK', 'SEA', 'TEX'],
 'NL Central': ['CHC', 'CIN', 'MIL', 'PIT', 'STL'],
 'NL East': ['ATL', 'MIA', 'NYM', 'PHI', 'WSH'],
 'NL West': ['ARI', 'COL', 'LAD', 'SD', 'SF']}

In [40]:
import json
json.dump(division_map, open('divisions.json', 'w'))

## Aggregate

In [41]:
dd = d.groupby(['home_team', 'home_team_id', 'away_team', 'away_team_id'], as_index=False)[['home_team_win', 'away_team_win']].sum()
dd['total_games'] = dd.home_team_win + dd.away_team_win
dd.head()

,home_team,home_team_id,away_team,away_team_id,home_team_win,away_team_win,total_games
0,ARI,0,ATL,1,1,3,4
1,ARI,0,CHC,29,1,2,3
2,ARI,0,CIN,13,2,1,3
3,ARI,0,COL,28,3,6,9
4,ARI,0,HOU,15,0,1,1

In [42]:
dd.to_csv(f'wins-{pd.datetime.today().strftime("%Y-%m-%d")}.csv', index=False)